{% extends "layout.html" %}

{% block title %}
    Question 3
{% endblock %}

{% block main %}
    <div style="margin-top: 50px" class="user-select-none fade-in5s row justify-content-center">
        <div class="col-md-6">
            <div class="bg-light p-4 rounded shadow text-left">
                <h5 class="text-center mb-4">You have three boxes. One contains apples, one contains oranges, and one contains both apples and oranges. Each box is labeled incorrectly. By picking only one fruit from one box, how can you correctly label all the boxes?</h5>

                <form action="/question3" method="POST">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option1" value='Pick from the "apple" box' required>
                        <label class="form-check-label" for="option1">Pick from the 'apple' box</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option2" value="Pick from the 'both' box">
                        <label class="form-check-label" for="option2">Pick from the 'both' box</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option3" value='Pick from the "orange" box'>
                        <label class="form-check-label" for="option3">Pick from the 'orange' box</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option4" value="Pick from any box, the labels don't matter">
                        <label class="form-check-label" for="option4">Pick from any box, the labels don't matter</label>
                    </div>
                    <button style = "border-radius: 20px;margin-top: 30px" type="submit" class="btn btn-info">Next Question</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
