{% extends "layout.html" %}

{% block title %}
    Question 11
{% endblock %}

{% block main %}
    <div style="margin-top: 50px" class="user-select-none fade-in5s row justify-content-center">
        <div class="col-md-6">
            <div class="bg-light p-4 rounded shadow text-left">
                <h5 class="text-center mb-4">What is the next number in this sequence: 2, 4, 8, 16, ____ ?</h5>

                <form action="/question11" method="POST">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option1" value="32" required>
                        <label class="form-check-label" for="option1">32</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option2" value="24">
                        <label class="form-check-label" for="option2">24</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option3" value="20">
                        <label class="form-check-label" for="option3">20</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="option4" value="18">
                        <label class="form-check-label" for="option4">18</label>
                    </div>
                    <button style = "border-radius: 20px;margin-top: 30px" type="submit" class="btn btn-info">Next Question</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
